<div *ngIf="pokemonList.length < pokemonService.numberOfPokemon">
	<h3>Please, wait while we load the pokemon data...
	{{ pokemonList.length }} / {{ pokemonService.numberOfPokemon }}</h3>
</div>
<div>
	<h2>POKEMON LIST:</h2>

	<table border="1">
		<tr>
			<th (click)="changeListSorting('id')">
				ID <span *ngIf="sortListBy==='id'; then showOrder"></span>
			</th>
			<th (click)="changeListSorting('name')">
				Name <span *ngIf="sortListBy==='name'; then showOrder"></span>
			</th>
			<th *ngFor="let stat of pokemonService.statsList" (click)="changeListSorting(stat[0])">
				{{ stat.name }} <span *ngIf="sortListBy===stat.shortName; then showOrder"></span>
			</th>
		</tr>

 		<tr *ngFor="let pokemon of pokemonList | order:sortListBy:reverseList:pokemonList.length" (click)="selectPokemon(pokemon)">
			<td>#{{ pokemon.id }}</td>
			<td>{{ pokemon.name | uppercase }}</td>
			<td *ngFor="let stat of pokemonService.statsList">{{ pokemon.baseStats[stat.shortName] }}</td>
		</tr>
	</table>
</div>

<ng-template #showOrder>
	<span *ngIf="reverseList===1; then ascending else descending"></span>
</ng-template>
<ng-template #descending>▼</ng-template>
<ng-template #ascending>▲</ng-template>