<div *ngIf="pokemonList.length < pokemonService.numberOfPokemon">
	<h3>Please, wait while we load the pokemon data...
	{{ pokemonList.length }} / {{ pokemonService.numberOfPokemon }}</h3>
</div>
<div>
	<h2>
		Available Pokemon:
	</h2>

	<button (click)="clearFilters()">Clear all filters</button><br>
	<label>Filter by name:
		<input [(ngModel)]="nameFilter" placeholder="Name filter">
	</label><br>
	<label>Filter by HP:
		<input [(ngModel)]="minHp" type="number" placeholder="Min. HP"> 
		<input [(ngModel)]="maxHp" type="number" placeholder="Max. HP">
	</label><br>
	<label>Filter by Attack:
		<input [(ngModel)]="minAttack" type="number" placeholder="Min. Attack"> 
		<input [(ngModel)]="maxAttack" type="number" placeholder="Max. Attack">
	</label><br>
	<label>Filter by Defense:
		<input [(ngModel)]="minDefense" type="number" placeholder="Min. Defense"> 
		<input [(ngModel)]="maxDefense" type="number" placeholder="Max. Defense">
	</label><br>
	<label>Filter by Special Attack:
		<input [(ngModel)]="minSpAttack" type="number" placeholder="Min. Sp. Attack"> 
		<input [(ngModel)]="maxSpAttack" type="number" placeholder="Max. Sp. Attack">
	</label><br>
	<label>Filter by Special Defense:
		<input [(ngModel)]="minSpDefense" type="number" placeholder="Min. Sp. Defense"> 
		<input [(ngModel)]="maxSpDefense" type="number" placeholder="Max. Sp. Defense">
	</label><br>
	<label>Filter by Speed:
		<input [(ngModel)]="minSpeed" type="number" placeholder="Min. Speed"> 
		<input [(ngModel)]="maxSpeed" type="number" placeholder="Max. Speed">
	</label><br>

	<table border="1">
		<tr>
			<th (click)="changeListSorting('id')">
				ID <span *ngIf="sortListBy==='id'; then showOrder"></span>
			</th>
			<th (click)="changeListSorting('name')">
				Name <span *ngIf="sortListBy==='name'; then showOrder"></span>
			</th>
			<th *ngFor="let stat of pokemonService.statsList" (click)="changeListSorting(stat.shortName)">
				{{ stat.name }} <span *ngIf="sortListBy===stat.shortName; then showOrder"></span>
			</th>
		</tr>

 		<tr *ngFor="let pokemon of pokemonList
 			| filterPokemon:nameFilter:minHp:maxHp:minAttack:maxAttack:minDefense
 				:maxDefense:minSpAttack:maxSpAttack:minSpDefense:maxSpDefense
 				:minSpeed:maxSpeed:pokemonList.length
 			| order:sortListBy:reverseList:pokemonList.length"
 			(click)="selectPokemon(pokemon)">
				<td>#{{ pokemon.id }}</td>
				<td>{{ pokemon.name | uppercase }}</td>
				<td *ngFor="let stat of pokemonService.statsList">{{ pokemon.baseStats[stat.shortName] }}</td>
		</tr>
	</table>
</div>

<ng-template #showOrder>
	<span *ngIf="reverseList===1; then ascending else descending"></span>
</ng-template>
<ng-template #descending>▼</ng-template>
<ng-template #ascending>▲</ng-template>