<div *ngIf="pokemon; else noSelectedPokemon">
	<h2>(#{{ pokemon.id }}) {{ pokemon.name | uppercase }}</h2>

	<img src="{{ pokemon.spriteUrl }}"><br>

	<label>Level
		<input [(ngModel)]="pokemonLevel" required type="number" placeholder="level" (change)="validateDataInput('level')">
	</label>
 	<label>Nature
		<select [(ngModel)]="pokemonNature" name="nature">
			<option *ngFor="let nature of naturesList | naturesSort" value="{{ nature }}">
				{{ nature | uppercase }}
			</option> 
		</select>
	</label><br><br>

	<strong>STATS at level {{ pokemonLevel }} with {{ pokemonNature }} nature:</strong><br>
	(Total EV's: {{ totalEvs() }})<br><br>

	<div *ngFor="let stat of pokemonService.statsList">

		<label>IV
			<input [(ngModel)]="stat.iv" type="number" placeholder="{{stat.name}}IV"
				size="2" (change)="validateDataInput('iv', stat.id)">
		</label>
		&nbsp;
		<label>EV
			<input [(ngModel)]="stat.ev" type="number" placeholder="{{stat.name}}EV"
				size="2" (change)="validateDataInput('ev', stat.id)">
		</label>
		&nbsp;

		{{ stat.name }} ({{ pokemon.baseStats[stat.shortName] }})
		<span *ngIf="checkStatIsHighest(stat.shortName)"
			style="color:green;"
			title="Highest Base Stat">
			✔
		</span>
		<span *ngIf="checkStatIsLowest(stat.shortName)"
			style="color:red;"
			title="Lowest Base Stat">
			✘
		</span>
		:

		<strong>
			{{ calculateStat(stat.id) }}<br>
		</strong>

	</div>
	
	<div *ngIf="totalEvs() > 510">
		<strong style="color:red">THE MAXIMUM INGAME TOTAL EV IS 510</strong>
	</div>

</div>

<ng-template #noSelectedPokemon>
	PLEASE, SELECT A POKEMON
</ng-template>