<div *ngIf="pokemon; else noSelectedPokemon">
	<h2>{{ pokemon.name | uppercase }} (#{{ pokemon.id }})</h2>
	<label>Level
		<input [(ngModel)]="pokemon.level" placeholder="level">
	</label>

	Level: {{ pokemon.level }}<br>
	<br>
	STATS:<br>
	HP: {{ pokemon.baseStats.hp }}<br>
	Attack: {{ pokemon.baseStats.attack }}<br>
	Defense: {{ pokemon.baseStats.defense }}<br>
	Special Attack: {{ pokemon.baseStats.spAttack }}<br>
	Special Defense: {{ pokemon.baseStats.spDefense }}<br>
	Speed: {{ pokemon.baseStats.speed }}<br>
</div>

<ng-template #noSelectedPokemon>
	PLEASE, SELECT A POKEMON
</ng-template>