<div *ngIf="pokemonService.selectedPokemon; else noSelectedPokemon">
	<h2>
		(#{{ pokemonService.selectedPokemon.id }})
		{{ pokemonService.selectedPokemon.name | uppercase }}
	</h2>

	<img src="{{ pokemonService.selectedPokemon.spriteUrl }}"><br>

	<label>Level
		<input [(ngModel)]="pokemonLevel" type="number" placeholder="Level" (change)="validateDataInput('level')">
	</label>
 	<label>Nature
		<select [(ngModel)]="pokemonNature" name="nature">
			<option *ngFor="let nature of naturesList | naturesSort:naturesList.length" value="{{ nature }}">
				{{ nature | uppercase }}
			</option> 
		</select>
	</label><br><br>

	<strong>STATS at level {{ pokemonLevel }} with {{ pokemonNature }} nature:</strong><br>
	(Total EV's: {{ totalEvs() }})<br><br>

	<div *ngFor="let stat of pokemonService.statsList">

		<label>IV
			<input [(ngModel)]="stat.iv" type="number" placeholder="{{stat.name}}IV"
				(change)="validateDataInput('iv', stat)">
		</label>
		&nbsp;
		<label>EV
			<input [(ngModel)]="stat.ev" type="number" placeholder="{{stat.name}}EV"
				(change)="validateDataInput('ev', stat)">
		</label>
		&nbsp;

		{{ stat.name }}

		<span *ngIf="checkAffectingNature(stat) === 1"
			style="color:green;"
			title="Favorable nature">
			&#10133; <!-- Unicode plus sign -->
		</span>
		<span *ngIf="checkAffectingNature(stat) === -1"
			style="color:red;"
			title="Unfavorable nature">
			&#10134; <!-- Unicode minus sign -->
		</span>

		({{ pokemonService.selectedPokemon.baseStats[stat.shortName] }})

		<span *ngIf="checkStatHighLow(stat.shortName) === 1"
			style="color:green;"
			title="Highest Base Stat">
			&#10004; <!-- Unicode checkmark sign -->
		</span>
		<span *ngIf="checkStatHighLow(stat.shortName) === -1"
			style="color:red;"
			title="Lowest Base Stat">
			&#10006; <!-- Unicode X mark sign -->
		</span>
		:

		<strong>
			{{ calculateStat(stat.id) }}<br>
		</strong>

	</div>
	
	<div *ngIf="totalEvs() > 510">
		<strong style="color:red">THE MAXIMUM INGAME TOTAL EV IS 510 (YOU HAVE: {{ totalEvs() }})</strong>
	</div>

</div>

<ng-template #noSelectedPokemon>
	PLEASE, SELECT A POKEMON
</ng-template>